* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.6%;
}

body {
  background-color: #fff0f6;
  font-family: "Protest Riot", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin-top: 14rem;

}

h1 {
  color: #ff6f61;
  margin-bottom: 20px;
  font-size: 25px;
}

p {
  color: #333;
  margin: 15px 0;
  font-size: 18px;
}

button {
  background-color: #ff6f61;
  color: white;
  border: none;
  padding: 15px 25px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-family: "Protest Riot", sans-serif;
}

button:hover {
  background-color: #ff3b2f;
}

#qrCodeContainer {
  margin-top: 20px;
}

#qrCodeContainer img {
  width: 200px;
  height: 200px;
}

#countdown {
  font-family: "Protest Riot", sans-serif;
  font-size: 24px;
  color: #ff6f61;
}

.title {
  font-family: "Protest Riot", sans-serif;
  color: black;
}

.bday {
  background-image: url(./img/bdaykitty.jpg);
  background-position: center;
  background-size: cover;
}

#mapContainer {
  margin-top: 20px;
  /* Harita konteynerini biraz yukarıya yerleştir */
}